// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

// Variables
// Colors
$num: #c2fff9;
$operator: #71dfe7;
$display: #009dae;
$equal: rgb(255, 137, 137);
$clear: #ffe652;
$hover: rgb(245, 245, 245);
