body {
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  height: 100vh;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

.result {
  grid-column: 1/-1;
  background: rgba(55, 105, 97, 0.75);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid white;
}
.result__history {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
}
.result__output {
  font-size: 40px;
}

.span2 {
  grid-column: span 2;
}