@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  height: 100vh;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

.result {
  grid-column: 1/-1;
  background: #009dae;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid white;
}
.result__history {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
}
.result__output {
  font-size: 40px;
}

.span2 {
  grid-column: span 2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.btn {
  cursor: pointer;
  font-size: 22px;
  border: 1px solid white;
  outline: none;
  background-color: #c2fff9;
}
.btn:hover {
  background: blue;
}
.btn.operator {
  background-color: #71dfe7;
}
.btn.operator:hover {
  background: blue;
}
.btn.clear {
  background-color: #ffe652;
}
.btn.clear:hover {
  background: blue;
}
.btn.equal {
  background-color: #ff8989;
}
.btn.equal:hover {
  background: blue;
}