@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #041d6d 2.1%, #21a0d3 94.2%);
  height: 100vh;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.result {
  grid-column: 1/-1;
  background: rgba(22, 136, 117, 0.75);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid white;
}
.result__history {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
}
.result__output {
  font-size: 40px;
}

.btn {
  cursor: pointer;
  font-size: 22px;
  border: 1px solid white;
  outline: none;
  background: rgba(114, 101, 185, 0.75);
}
.btn:hover {
  background: rgba(148, 143, 143, 0.9);
}
.btn.operator {
  background-color: rgba(47, 207, 55, 0.616);
}
.btn.operator:hover {
  background: rgba(148, 143, 143, 0.9);
}
.btn.clear {
  background-color: rgba(185, 0, 0, 0.623);
}
.btn.clear:hover {
  background: rgba(148, 143, 143, 0.9);
}
.btn.equal {
  background-color: #c2c22d;
}

.span2 {
  grid-column: span 2;
}