// Abstracts
@import "./sass/abstracts/variables";
// Base
@import "./sass/base/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(4, 29, 109) 2.1%,
    rgb(33, 160, 211) 94.2%
  );
  height: 100vh;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.result {
  grid-column: 1 / -1;
  background: rgba(55, 105, 97, 0.75);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid white;

  &__history {
    color: rgb(255, 255, 255, 0.75);
    font-size: 16px;
  }
  &__output {
    font-size: 40px;
  }
}

.btn {
  cursor: pointer;
  font-size: 22px;
  border: 1px solid white;
  outline: none;
  background: rgba(114, 101, 185, 0.75);

  &:hover {
    background: rgba(148, 143, 143, 0.9);
  }

  &.operator {
    background-color: rgba(47, 207, 55, 0.616);
    &:hover {
      background: rgba(148, 143, 143, 0.9);
    }
  }

  &.clear {
    background-color: rgba(185, 0, 0, 0.623);

    &:hover {
      background: rgba(148, 143, 143, 0.9);
    }
  }

  &.equal {
    background-color: rgb(194, 194, 45);
  }
}

.span2 {
  grid-column: span 2;
}
