// Abstracts
@import "./sass/abstracts/variables";
// Base
@import "./sass/base/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

body {
  background: #f6f6f6;
  padding-top: 100px;
}
.calc {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
  background: #082032;

  & input {
    background: #082032;
    color: #f6f6f6;
    border: none;
    box-shadow: none;
    width: 100%;
    border-bottom: 2px solid #2c394b;
    padding: 20px;
    text-align: right;
    font-size: 40px;
  }

  &__buttons {
    // grid
    padding: 20px;
    display: grid;

    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 10px;
  }
  &__button {
    background: #2c394b;
    color: $primary-color;
    border: 1px solid #111;
    padding: 20px;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 2px 2px 1px rgb(34, 73, 105);

    &.is-clear,
    &.is-equals {
      grid-column: span 2;
    }

    &.is-clear {
      color: red;
    }
  }
}
