@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #041d6d 2.1%,
    #21a0d3 94.2%
  );
  height: 100vh;
}

.calc {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calc__screen {
  grid-column: 1/-1;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.calc__screen .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
}
.calc__screen .current-operand {
  font-size: 28px;
}
.calc button {
  cursor: pointer;
  font-size: 22px;
  border: 1px solid white;
  outline: none;
  background: rgba(255, 255, 255, 0.75);
}
.calc button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.calc__span2 {
  grid-column: span 2;
}

.red {
  color: red;
}
